<div>
<h3>Enter title</h3>
<input type="text" ng-model="keyword"></input>
<h3>Book list</h3>
<table class="table">
		<tr>
			<th class="col-md-3">Title</th>
			<th class="col-md-2">Author's name</th>
			<th class="col-md-2">Author's surname</th>
			<th class="col-md-1">Delete</th>
		</tr>
		<tr ng-repeat = "book in books | filter:keyword">
			<td><a href="#/books/{{book.id}}">{{book.title}}</a></td>
			<td>{{book.authorName}}</td>
			<td>{{book.authorSurname}}</td>
			<td><button class="btn btn-default btn-sm" ng-click="delete(book.id)">Delete</button></td>
		</tr>
</table>

<div ui-view>

</div>

<h3>Add new book</h3>
<form name="bookForm" class="form-group container">
	<div class="col-xs-4">

        <div class="form-group" ng-class="{ 'has-error' : bookForm.title.$invalid && !bookForm.title.$pristine }">
			<label>Title</label>
            <input type="text" name="title" class="form-control" ng-model="newBook.title" required>
            <p ng-show="bookForm.title.$invalid && !bookForm.title.$pristine" class="help-block">Title is required.</p>
        </div>


        <div class="form-group" ng-class="{ 'has-error' : bookForm.authorName.$invalid && !bookForm.authorName.$pristine }">
			<label>Author's name</label>
            <input type="text" name="authorName" class="form-control" ng-model="newBook.authorName" required>
            <p ng-show="bookForm.authorName.$invalid && !bookForm.authorName.$pristine" class="help-block">Authors name is required.</p>
        </div>
	

        <div class="form-group" ng-class="{ 'has-error' : bookForm.authorSurname.$invalid && !bookForm.authorSurname.$pristine }">
			<label>Author's Surname</label>
            <input type="text" name="authorSurname" class="form-control" ng-model="newBook.authorSurname" required>
            <p ng-show="bookForm.authorSurname.$invalid && !bookForm.authorSurname.$pristine" class="help-block">Authors Surname is required.</p>
        </div>
	
	<button ng-disabled=" bookForm.authorSurname.$invalid &&  bookForm.title.$invalid &&  bookForm.authorName.$invalid" class="btn btn-default btn-sm" ng-click="add()">ADD</button>
	</div>
</form>



</div>