<h3>Change book</h3>
<div class="form-group container">
	<div class="col-xs-4">
	<label>Title</label>
	<input class="form-control" type="text" ng-model="bookToChange.title"></input></br>
	<label>Author's name</label>
	<input class="form-control" type="text" ng-model="bookToChange.authorName"></input></br>
	<label>Author's surname</label>
	<input class="form-control" type="text" ng-model="bookToChange.authorSurname"></input></br>
	<button class="btn btn-default btn-sm" ng-click="change()">Change</button>
	</div>
</div>