<div>
<h3>Copy list</h3>
<table class="table">
		<tr>
			<th class="col-md-2">Release Number</th>
			<th class="col-md-2">Release Date</th>
			<th class="col-md-1">Delete</th>
		</tr>
		<tr ng-repeat = "copy in copies | filter:keyword">
			<td><a href="#/copies/{{copy.id}}">{{copy.releaseNumber}}</a></td>
			<td>{{copy.releaseDate}}</td>
			<td><button class="btn btn-default btn-sm" ng-click="delete(copy.id)">Delete</button></td>
		</tr>
</table>

<div ui-view>

</div>

<h3>Add new copy</h3>
<div class="form-group container">
	<div class="col-xs-4">
	<label>Release Number</label>
	<input class="form-control" type="text" ng-model="newCopy.releaseNumber"></input></br>
	<label>Release Date</label>
	<input class="form-control" type="text" ng-model="newCopy.releaseDate"></input></br>
	<button class="btn btn-default btn-sm" ng-click="add()">ADD</button>
	</div>
</div>



</div>