<h3>Change copy</h3>
<div class="form-group container">
	<div class="col-xs-4">
	<label>Release Number</label>
	<input class="form-control" type="text" ng-model="copyToChange.releaseNumber"></input></br>
	<label>Release Date</label>
	<input class="form-control" type="text" ng-model="copyToChange.releaseDate"></input></br>
	<button class="btn btn-default btn-sm" ng-click="change()">Change</button>
	</div>
</div>