<div>
<h3>Reader list</h3>
<table class="table">
		<tr>
			<th class="col-md-2">First Name</th>
			<th class="col-md-2">Surname</th>
			<th class="col-md-1">Pesel</th>
			<th class="col-md-1">Email</th>
			<th class="col-md-1">Phone Number</th>
			<th class="col-md-1">Delete</th>
		</tr>
		<tr ng-repeat = "reader in readers | filter:keyword">
			<td><a href="#/readers/{{reader.id}}">{{reader.firstName}}</a></td>
			<td>{{reader.surname}}</td>
			<td>{{reader.pesel}}</td>
			<td>{{reader.email}}</td>
			<td>{{reader.phoneNumber}}</td>
			<td><button class="btn btn-default btn-sm" ng-click="delete(reader.id)">Delete</button></td>
		</tr>
</table>



<div ui-view>

</div>

<h3>Add new reader</h3>

<div class="form-group container">
	<div class="col-xs-4">
		<label>First Name</label>
		<input class="form-control" type="text" ng-model="newReader.firstName"></input></br>
		<label>Surname</label>
		<input class="form-control" type="text" ng-model="newReader.surname"></input></br>
		<label>Pesel</label>
		<input class="form-control" type="text" ng-model="newReader.pesel"></input></br>
		<label>Email</label>
		<input class="form-control" type="text" ng-model="newReader.email"></input></br>
		<label>Phone Number</label>
		<input class="form-control" type="text" ng-model="newReader.phoneNumber"></input></br>
		<button class="btn btn-default btn-sm" ng-click="add()">ADD</button>
	</div>
</div>



</div>