<h3>Change reader</h3>
<div class="form-group container">
	<div class="col-xs-4">
		<label>First Name</label>
		<input class="form-control" type="text" ng-model="readerToChange.firstName"></input></br>
		<label>Surname</label>
		<input class="form-control" type="text" ng-model="readerToChange.surname"></input></br>
		<label>Pesel</label>
		<input class="form-control" type="text" ng-model="readerToChange.pesel"></input></br>
		<label>Email</label>
		<input class="form-control" type="text" ng-model="readerToChange.email"></input></br>
		<label>Phone Number</label>
		<input class="form-control" type="text" ng-model="readerToChange.phoneNumber"></input></br>
		<button class="btn btn-default btn-sm" ng-click="change()">Change</button>
	</div>
</div>